.team-card {
    width: 300px; 
    height: 400px; 
    margin: 15px;
    padding: 12px;

}

.team-card .imgBx {
    width: 150px; 
    height: 150px;
}

.team-card .contentBx {
    font-family: 'BasheqVintage';
    font-weight: bold;
    font-size: 28px; 
    margin-top: 8px;
}

.team-card .sci li a {
    font-size: 20px;
    padding: 8px;
}
