.gallerycontain {
    margin-top: 20vh;
  }
  
  .imgGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3vw; 
    margin: 5vw;
  }
  
  .frame {
    position: relative;
    display: inline-block;
    padding: 10px; 
    border: 8px solid #d4a373; 
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4); 
    background-color: #f2e8c9;
  }
  
  .galimg {
    width: 28vw;
    border-radius: 5px; 
  }
  
 
  @media screen and (max-width: 900px) {
    .imgGallery {
      gap: 3vw; 
    }
    .galimg {
      width: 40vw; 
    }
  }
  
  @media screen and (max-width: 600px) {
    .imgGallery {
      gap: 3vw; 
    }
    .galimg {
      width: 80vw; 
    }
  }
  